@CHARSET "UTF-8";

.red-color {
    color : #fc544b;
    font-weight : 700;
} 


.form-control2 {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

table-hover tr {
    cursor: pointer;
}

table .th-bg {
    background-color : #e7e7e7;
}

.minH570 {
    display : block;
    min-height: 570px;
}

.minH480 {
    display : block;
    min-height: 480px;
}

.minH380 {
    display : block;
    min-height : 380px;
    max-height : 400px;
    overflow: auto;
}

.fa-level-up-alt {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}